#### NUMPY

# Задание 1

In [41]:
import numpy as np

a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
mean_a = np.mean(a, axis=0)

print(f'{a} \n')
print(mean_a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

[2.  8.4]

# Задание 2

In [17]:
a_centered = a - mean_a

print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

# Задание 3

In [32]:
a_centered_sp = a_centered[:, 0] @ a_centered[:, 1]
count_observation = 5;

print(a_centered_sp)
print(a_centered_sp / (count_observation - 1))

8.0
2.0

# Задание 4

In [36]:
print(np.cov(a.transpose())[0, 1]);

2.0

#### PANDAS

# Задание 1

In [174]:
import pandas as pd

authors = pd.DataFrame({
   'author_id': [1, 2, 3],
   'author_name': ['Тургенев', 'Чехов', 'Островский'],
})

book = pd.DataFrame({
   'author_id': [1, 1, 1, 2, 2, 3, 3],
   'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 
                  'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
   'price': [450, 300, 350, 500, 450, 370, 290],
})

# Задание 2

In [171]:
authors_price = pd.merge(authors, book);

authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

# Задание 3

In [170]:
top5 = authors_price.sort_values(by=['price'], ascending=False)[0:5]

top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

# Задание 4

In [175]:
authors_name = authors_price['author_name'].unique()
authors_min_price = []
authors_max_price = [] 
authors_mean_price = []

for name in authors_name:
    authors_record = authors_price[authors_price['author_name'] == name]
    prices = list(authors_record['price'])
    authors_min_price.append(min(prices))
    authors_max_price.append(max(prices))
    authors_mean_price.append(np.round(np.mean(prices), 2))

authors_stat = pd.DataFrame({
    'author_name': authors_name,
    'min_price': authors_min_price,
    'max_price': authors_max_price,
    'mean_price': authors_mean_price,
})

authors_stat

  author_name  min_price  max_price  mean_price
0    Тургенев        300        450      366.67
1       Чехов        450        500      475.00
2  Островский        290        370      330.00